astroid==1.4.9
backports.functools-lru-cache==1.3
beautifulsoup4==4.5.3
bs4==0.0.1
click==6.6
configparser==3.5.0
cycler==0.10.0
docutils==0.13.1
Flask==0.12
Flask-Restless==0.17.0
Flask-SQLAlchemy==2.2
Flask-WTF==0.14
functools32==3.2.3.post2
future==0.16.0
gunicorn==19.7.1
ipaddress==1.0.17
isort==4.2.5
itsdangerous==0.24
Jinja2==2.8
lazy-object-proxy==1.2.2
MarkupSafe==0.23
matplotlib==2.0.1
mccabe==0.6.1
mimerender==0.6.0
numpy==1.12.1
olefile==0.44
pbs==0.110
psutil==5.1.3
pyparsing==2.2.0
pypiwin32==219
python-dateutil==2.6.0
python-mimeparse==1.6.0
pytz==2017.2
pywin32==220
requests==2.14.2
sh==1.12.8
six==1.10.0
Werkzeug==0.11.13

