<!DOCTYPE html>
<html lang="en">

<head>
	<title>WeatherGod API</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto Slab' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link href="/static/style.css" rel="stylesheet">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>
    <div class="container">
        <div class="jumbotron jumbotron-hollow">
            <img src="../static/logo-small.png" class="logo">
            <h1>WeatherGod API</h1>
        </div>
            <div class="panel panel-default">
                <div class="panel-body text-center">
                    <p>
                        A Python based API designed to aggregate and propagate the individual sources of weather information for Queenstown, New Zealand. Designed for operational usage in the adventure tourism industry.  All information is presented courtesy of its respective source, and retains its original copyright.
                    </p>
                    <p><strong>Usage of this API is only with express and explicit permission.</strong></p>
                    <p>Email matt@peakpixel.nz for data enquiries.</p>
                    <hr>
                    <p><span class="glyphicon glyphicon-user"></span>  github.com/mttchpmn </p>
                    
                </div>
            </div>
        
            <div class="panel panel-default">
                <div class="panel-heading color-fill">
                    <h2>API Endpoints</h2>
                </div>
                <div class="panel-body">
                    <div>
                        <h3>Local</h3>
                        <h5><em>weathergod.herokuapp.com/api/v1.0/local</em></h5>
                        <p>Returns a list containing a single JSON object for Aerodrome weather data, and a 'weatherStations' object containing a list of JSON objects for Gondola, Flightpark, Coronet Express, and Glenorchy Weather Stations.</p>                        
                        
                        <div class="col-xs-12">
                            <div class="panel-group">
                                <div class="panel panel-default">

                                    <div class="panel-heading heading-collapse" data-toggle="collapse" href="#localResponse">
                                            <h4 class="panel-title ">
                                                <span class="glyphicon glyphicon-search"></span>
                                                <em>Example Response</em>                                            
                                            </h4>
                                    </div>                        

                                    <div id="localResponse" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <pre>[
  {
    "aerodrome": {
      "airData": {
        "humidity": 97, 
        "pressure": 1016, 
        "rainLastHour": "0.0", 
        "tempDegrees": 5
      }, 
      "location": "Queenstown Aerodrome AWS", 
      "validTime": "9:00am Wednesday 31 May 2017", 
      "windData": {
        "windDirection": "E", 
        "windSpeedKm": "4"
      }
    }
  }, 
  {
    "weatherStations": [
      {
        "averageWind": {
          "avgWindBearing": 40, 
          "avgWindDirection": "NE", 
          "avgWindSpeed": 7.1
        }, 
        "currentTemp": {
          "curTemp": 9.0, 
          "windChill": 7.8
        }, 
        "currentWind": {
          "curMaxGust": 11, 
          "curWindBearing": 37, 
          "curWindDirection": "NE", 
          "curWindGust": 11, 
          "curWindSpeed": 8
        }, 
        "dailyTemp": {
          "dayMaxTemp": 9.2, 
          "dayMinTemp": 5.0
        }, 
        "dailyWind": {
          "dayAvgWindSpeed": 2.9, 
          "dayMaxWindSpeed": 13
        }, 
        "location": "Skyline Gondola", 
        "units": {
          "tempUnits": "C", 
          "windUnits": "km/h"
        }, 
        "windTendency": {
          "bearingTendency": "stable", 
          "rateTendency": 0, 
          "speedRate": 10, 
          "speedTendency": "rising"
        }
      }, 
      {
        "averageWind": {
          "avgWindBearing": 52, 
          "avgWindDirection": "NE", 
          "avgWindSpeed": 6.1
        }, 
        "currentTemp": {
          "curTemp": 5.9, 
          "windChill": 5.1
        }, 
        "currentWind": {
          "curMaxGust": 11, 
          "curWindBearing": 52, 
          "curWindDirection": "NE", 
          "curWindGust": 8, 
          "curWindSpeed": 5
        }, 
        "dailyTemp": {
          "dayMaxTemp": 6.4, 
          "dayMinTemp": 3.2
        }, 
        "dailyWind": {
          "dayAvgWindSpeed": 5.2, 
          "dayMaxWindSpeed": 15
        }, 
        "location": "Coronet Express", 
        "units": {
          "tempUnits": "C", 
          "windUnits": "km/h"
        }, 
        "windTendency": {
          "bearingTendency": "stable", 
          "rateTendency": 0, 
          "speedRate": -20, 
          "speedTendency": "falling"
        }
      }, 
      {
        "averageWind": {
          "avgWindBearing": 293, 
          "avgWindDirection": "WNW", 
          "avgWindSpeed": 0
        }, 
        "currentTemp": {
          "curTemp": 7.5, 
          "windChill": 7.5
        }, 
        "currentWind": {
          "curMaxGust": 0, 
          "curWindBearing": 293, 
          "curWindDirection": "WNW", 
          "curWindGust": 0, 
          "curWindSpeed": 0
        }, 
        "dailyTemp": {
          "dayMaxTemp": 8.5, 
          "dayMinTemp": 3.7
        }, 
        "dailyWind": {
          "dayAvgWindSpeed": 1.4, 
          "dayMaxWindSpeed": 13
        }, 
        "location": "Flightpark", 
        "units": {
          "tempUnits": "C", 
          "windUnits": "km/h"
        }, 
        "windTendency": {
          "bearingTendency": "stable", 
          "rateTendency": 0, 
          "speedRate": 0, 
          "speedTendency": "calm"
        }
      }, 
      {
        "averageWind": {
          "avgWindBearing": 76, 
          "avgWindDirection": "ENE", 
          "avgWindSpeed": 0.5
        }, 
        "currentTemp": {
          "curTemp": 10.0, 
          "windChill": 10
        }, 
        "currentWind": {
          "curMaxGust": 1.6, 
          "curWindBearing": 76, 
          "curWindDirection": "ENE", 
          "curWindGust": 1.6, 
          "curWindSpeed": 0
        }, 
        "dailyTemp": {
          "dayMaxTemp": 10.7, 
          "dayMinTemp": 6.2
        }, 
        "dailyWind": {
          "dayAvgWindSpeed": 0.7, 
          "dayMaxWindSpeed": 4.3
        }, 
        "location": "Glenorchy", 
        "units": {
          "tempUnits": "C", 
          "windUnits": "knots"
        }, 
        "windTendency": {
          "bearingTendency": "stable", 
          "rateTendency": 0, 
          "speedRate": 0, 
          "speedTendency": "calm"
        }
      }
    ]
  }
]
</pre>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <hr>
                    </div>
                    
                    <div>
                        <h3>Mountain</h3>
                        <h5><em>weathergod.herokuapp.com/api/v1.0/mountain</em></h5>
                        <p>Returns list of JSON objects for the next 5 days of the Southern Lakes Mountain Forecasts.  Endpoint is currently a redirect to the Metservice page directly as custom code and routing has not yet been implemented.</p>
                        
                        <div class="col-xs-12">
                            <div class="panel-group">
                                <div class="panel panel-default">

                                    <div class="panel-heading heading-collapse" data-toggle="collapse" href="#mountainResponse">
                                            <h4 class="panel-title ">
                                                <span class="glyphicon glyphicon-search"></span>
                                                <em>Example Response</em>                                            
                                            </h4>
                                    </div>                        

                                    <div id="mountainResponse" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <pre>[{
    "displayDate":"Wednesday 31 May",
    "forecast":"Cloudy periods increasing. A few showers about the headwaters, with the odd one\nspreading east.",
    "fzl":"About 2200 metres.",
    "issued":"10:26am Wednesday 31 May 2017",
    "location":"SOUTHERN LAKES",
    "longDate":"Today - Wednesday 31 May 2017",
    "validFrom":"Wed May 31",
    "validFromDay":"Today",
    "validFromRaw":1496145600000,
    "wind1000":"Light.",
    "wind2000":"Light."
},
{
    "displayDate":"Thursday 1 June",
    "forecast":"Cloudy, but fine spells in the afternoon.",
    "fzl":"About 2100 metres.",
    "issued":"10:26am Wednesday 31 May 2017",
    "location":"SOUTHERN LAKES",
    "longDate":"Tomorrow - Thursday 1 June 2017",
    "validFrom":"Thu Jun 1",
    "validFromDay":"Tomorrow",
    "validFromRaw":1496232000000,
    "wind1000":"Light.",
    "wind2000":"Light."
},
{
    "displayDate":"Friday 2 June",
    "forecast":"Often cloudy, a few showers.",
    "fzl":"Lowering to 1800 metres.",
    "issued":"10:47am Wednesday 31 May 2017",
    "location":"SOUTHERN LAKES",
    "longDate":"Friday 2 June 2017",
    "validFrom":"Fri Jun 2",
    "validFromDay":"Friday",
    "validFromRaw":1496318400000,
    "wind1000":"Light.",
    "wind2000":"Light."
},
{
    "displayDate":"Saturday 3 June",
    "forecast":"Mostly cloudy, isolated showers. Winds mainly light.",
    "fzl":"",
    "issued":"10:47am Wednesday 31 May 2017",
    "location":"SOUTHERN LAKES",
    "longDate":"Saturday 3 June 2017",
    "validFrom":"Sat Jun 3",
    "validFromDay":"Saturday",
    "validFromRaw":1496404800000
},
{
    "displayDate":"Sunday 4 June",
    "forecast":"Showers, clearing and fine breaks increasing. Snow flurries briefly possible down to 900 metres early morning. Early southerly change, strong in exposed places, then dying out later.",
    "fzl":"",
    "issued":"10:47am Wednesday 31 May 2017",
    "location":"SOUTHERN LAKES",
    "longDate":"Sunday 4 June 2017",
    "validFrom":"Sun Jun 4",
    "validFromDay":"Sunday",
    "validFromRaw":1496491200000
}
]</pre>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        
                        
                        <hr>
                    </div>
                    
                    <div>
                        <h3>Snow Reports</h3>
                        <h5><em>weathergod.herokuapp.com/api/v1.0/snowreport</em></h5>
                        <p>
                            Returns JSON object of key value pairs for Skifield Snow Report Information.  Information is scraped directly from the NZski website.
                        </p>
                        
                        <div class="col-xs-12">
                            <div class="panel-group">
                                <div class="panel panel-default">

                                    <div class="panel-heading heading-collapse" data-toggle="collapse" href="#snowResponse">
                                            <h4 class="panel-title ">
                                                <span class="glyphicon glyphicon-search"></span>
                                                <em>Example Response</em>                                            
                                            </h4>
                                    </div>                        

                                    <div id="snowResponse" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <pre>{
  "snowReport": [
    {
      "detail": {
        "roadConditions": "Our road is open. Please drive courteously and observe the posted speed limits at all times while enjoying the magnificent view of Queenstown.\nWinter driving conditions now exist with icy patches and possible snow.", 
        "snowConditions": "We are busy getting ready for the 2017 winter season. Our opening date is scheduled for Saturday 17th June. We look forward to seeing you up here soon!", 
        "weatherConditions": "Autumn weather conditions happening up here at Coronet Peak with some precipitation due this weekend."
      }, 
      "mountainName": "Coronet Peak", 
      "mountainStatus": "Opening on Sat, Jun 17, 2017", 
      "reportTime": "16:14, 26 May", 
      "stats": {
        "currentTemp": "6.9\u00b0", 
        "groomedRuns": "0 of 0", 
        "lastSnowDate": "20 May 2017", 
        "lastSnowfall": "5", 
        "liftStatus": {
          "Coronet Express": "Closed", 
          "Greengates Express": "Closed", 
          "Kaser Ski Conveyor Lift": "Closed", 
          "Learners Carpet Conveyor Lift": "Closed", 
          "Magic Carpet Conveyor Lift": "Closed", 
          "Meadows Express": "Closed", 
          "Rocky Gully T-Bar": "Closed", 
          "Sunkid Carpet Conveyor Lift": "Closed"
        }, 
        "maxSnowBase": "15cm", 
        "minSnowBase": "0cm"
      }
    }, 
    {
      "detail": {
        "roadConditions": "The road is clear and open up to car park level. \nPlease drive with caution, maintain two way access at all times and all parking is in Car park 1 just below the base lodge.", 
        "snowConditions": "Only 10 days before we open for some great times and already mother nature is providing us with a good start to the base. Our snow making team are preparing to hit the button to assist mother nature when temps get cold enough.", 
        "weatherConditions": "We presently have clear skies and light cool breeze. Mainly fine weather should continue into tomorrow."
      }, 
      "mountainName": "The Remarkables", 
      "mountainStatus": "Opening on Sat, Jun 10, 2017", 
      "reportTime": "09:13, 31 May", 
      "stats": {
        "currentTemp": "1.9\u00b0", 
        "groomedRuns": "0 of 0", 
        "lastSnowDate": "20 May 2017", 
        "lastSnowfall": "50", 
        "liftStatus": {
          "Alta Chair": "Closed", 
          "Curvey Basin Express": "Closed", 
          "Learners Conveyors": "Closed", 
          "Shadow Basin Chair": "Closed", 
          "Shorty Converyor": "Closed", 
          "Sugar Bowl Chair": "Closed"
        }, 
        "maxSnowBase": "30cm", 
        "minSnowBase": "15cm"
      }
    }
  ]
}

                                            </pre>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        
                        <hr>
                    </div>
                    <div>

                        <h3>Rain Radar</h3>
                        <h5><em>weathergod.herokuapp.com/api/v1.0/rainradar</em></h5>
                        <p>Returns a JSON object containing the URLs for the synoptic charts for the next 48 hours.  Charts are sourced from MetVuw.com</p>
                        
                        <div class="col-xs-12">
                            <div class="panel-group">
                                <div class="panel panel-default">

                                    <div class="panel-heading heading-collapse" data-toggle="collapse" href="#rainResponse">
                                            <h4 class="panel-title ">
                                                <span class="glyphicon glyphicon-search"></span>
                                                <em>Example Response</em>                                            
                                            </h4>
                                    </div>                        

                                    <div id="rainResponse" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <pre>{
  "rainRadar": {
    "06Ahead": "http://www.metvuw.com/forecast/2017053018/rain-nzsi-2017053018-006.gif", 
    "12Ahead": "http://www.metvuw.com/forecast/2017053018/rain-nzsi-2017053018-012.gif", 
    "18Ahead": "http://www.metvuw.com/forecast/2017053018/rain-nzsi-2017053018-018.gif", 
    "24Ahead": "http://www.metvuw.com/forecast/2017053018/rain-nzsi-2017053018-024.gif", 
    "30Ahead": "http://www.metvuw.com/forecast/2017053018/rain-nzsi-2017053018-030.gif", 
    "36Ahead": "http://www.metvuw.com/forecast/2017053018/rain-nzsi-2017053018-036.gif", 
    "42Ahead": "http://www.metvuw.com/forecast/2017053018/rain-nzsi-2017053018-042.gif", 
    "48Ahead": "http://www.metvuw.com/forecast/2017053018/rain-nzsi-2017053018-048.gif"
  }
}
</pre>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        
                        <hr>
                    </div>
                    <div>

                        <h3>Webcam</h3>
                        <h5><em>weathergod.herokuapp.com/api/v1.0/webcam</em></h5>
                        <p>Returns a JSON object containing the URLs to the most recent webcam images from around Queenstown. Images are sourced from Coronet Peak,
                        The Remarkables, Queenstown Airport, and assorted other locations / providers.</p>
                        
                        <div class="col-xs-12">
                            <div class="panel-group">
                                <div class="panel panel-default">

                                    <div class="panel-heading heading-collapse" data-toggle="collapse" href="#camResponse">
                                            <h4 class="panel-title ">
                                                <span class="glyphicon glyphicon-search"></span>
                                                <em>Example Response</em>                                            
                                            </h4>
                                    </div>                        

                                    <div id="camResponse" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <pre>{
  "webcams": {
    "airport": {
      "coronet": "http://www.queenstownairport.co.nz/assets/Webcams/coronet/image17-05-31_12-04-30-83.jpg", 
      "lake": "http://www.queenstownairport.co.nz/assets/Webcams/lake/image17-05-31_11-58-35-83.jpg", 
      "remarks": "http://www.queenstownairport.co.nz/assets/Webcams/remarks/image17-05-31_12-03-01-03.jpg", 
      "stands": "http://www.queenstownairport.co.nz/assets/Webcams/stands/image17-05-31_12-01-32-83.jpg", 
      "tower": "http://www.queenstownairport.co.nz/assets/Webcams/tower/image17-05-31_12-00-03-83.jpg"
    }, 
    "coronetPeak": {
      "coronetExpress": "https://www.nzski.com/webcams/CoronetPeak/CoronetExpress/201705311156.jpg", 
      "meadowBase": "https://www.nzski.com/webcams/CoronetPeak/MeadowsBase/201705311155.jpg", 
      "topStation": "https://www.nzski.com/webcams/CoronetPeak/SugarsRun/201705311151.jpg"
    }, 
    "static": {
      "cecilNorth": "http://www.jablotool.com/webcamera/H1H1ISJWPU/1", 
      "cecilWest": "http://www.jablotool.com/webcamera/QXG2A2FXGT/1/", 
      "earnslaw": "http://snapithd.com/static/earnslaw.jpg", 
      "fnTrafficBp": "http://www.trafficnz.info/camera/627.jpg", 
      "fnTrafficBridge": "http://www.trafficnz.info/camera/623.jpg", 
      "glenorchy": "http://www.snowgrass.co.nz/cust/glenorchy_air/images/webcam.jpg", 
      "qnTrafficNorth": "http://www.trafficnz.info/camera/622.jpg", 
      "qnTrafficSouth": "http://www.trafficnz.info/camera/621.jpg", 
      "steamerWharf": "http://www.southerndiscoveries.co.nz/webcam-images/QTN1/webcam3.jpg?1495416172"
    }, 
    "theRemarkables": {
      "baseLearners": "https://www.nzski.com/webcams/TheRemarkables/Baselearners/201705311158.jpg", 
      "lakeAlta": "https://www.nzski.com/webcams/TheRemarkables/IcebarJunction/201705311158.jpg", 
      "sugarBowl": "https://www.nzski.com/webcams/TheRemarkables/Sugarbowl/201705311157.jpg"
    }
  }
}

                                            </pre>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        
                        <hr>
                    </div>
                    <div>

                        <h3>River Flow</h3>
                        <h5><em>weathergod.herokuapp.com/api/v1.0/riverflow</em></h5>
                        <p>Returns a JSON object containing URLs for river flow gifs. Sourced from the Otago Regional Council Website.</p>
                        
                        <div class="col-xs-12">
                            <div class="panel-group">
                                <div class="panel panel-default">

                                    <div class="panel-heading heading-collapse" data-toggle="collapse" href="#flowResponse">
                                            <h4 class="panel-title ">
                                                <span class="glyphicon glyphicon-search"></span>
                                                <em>Example Response</em>                                            
                                            </h4>
                                    </div>                        

                                    <div id="flowResponse" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <pre>{
  "riverFlow": {
    "dart": "http://water.orc.govt.nz/Drop/Graphs/HillocksFlow7.gif", 
    "kawarau": "http://water.orc.govt.nz/Drop/Graphs/Chards7.gif", 
    "shotover": "http://water.orc.govt.nz/Drop/Graphs/PeatsFlow7.gif"
  }
}                                            </pre>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
        </div>
    </div>
</body>

<footer class="footer">
	<p class="text-center">&copy; Matt Chapman</p>
</footer>
</html>